[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ABCoptim"]
	path = ABCoptim
	url = https://github.com/gvegayon/abcoptim
[submodule "defm"]
	path = defm
	url = https://github.com/cran/defm
[submodule "googlePublicData"]
	path = googlePublicData
	url = https://github.com/gvegayon/googlepublicdata
[submodule "rgexf"]
	path = rgexf
	url = https://github.com/gvegayon/rgexf
