[submodule ".registry"]
	path = .registry
	url = https://github.com/gvegayon/gvegayon.r-universe.dev
	branch = HEAD
[submodule "ABCoptim"]
	path = ABCoptim
	url = https://github.com/gvegayon/ABCoptim
[submodule "imaginarycss"]
	path = imaginarycss
	url = https://github.com/gvegayon/imaginarycss
[submodule "rgexf"]
	path = rgexf
	url = https://github.com/gvegayon/rgexf
